* {
    box-sizing: border-box;
  }
html {

    background-color: goldenrod;
}
  main {
  padding: 30px;
}

img {
  height:fit-content;
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

h1,h2,h3 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

div#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;                     
  }
  
  li#nav {
    float: left;
  }
  
  li#nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li#nav a:hover:not(.active) {
    background-color: #111;
  }
  
  li#nav.active {
    background-color: #4CAF50;
  }

  footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #333;
   color: white;
   text-align: center;
  }

  
  
